RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /raidai2025/index.html [L]

# Correct MIME types

AddType application/javascript .js
AddType text/css .css
